/* get the styles for both icon*/
@import "https://cssicon.space/css/icons.css";

.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
  transition: all 0.4s ease;
}
/* this is merely a rough demo to showcase the potential of CSS ICON on animation, more crafted animation can go from here */

body{
    font-family: Arial,sans-serif;
}

.navbar{
    top: 0;
}

.root {
    display: flex;
    align-items: baseline;
}

.sub {
    flex: 0 1 25%;
    position: sticky;
    top: 0;
    left: 0;
    min-width: 200px;
}

.main {
    flex: 0 1 45%;
    max-width: 45%;
    min-width: 290px;
}

.side {
    flex: 0 1 30%;
    position: sticky;
    top: 0;
}

.global-nav {
    margin-top: 15px;
    text-align: center;
}

.global-nav .nav-item {
    display: block;
    margin: 1rem 1.5rem 1rem 0;
}

.global-nav .nav-item a {
    display: block;
    width: 90%;
    /*height: 30px;
    line-height: 30px;*/
    text-align: center;
    border-radius: 8px;
    color: #666;
    font-size: 1.5rem;
    letter-spacing: 1px;
    transition: 0.15s;
    text-decoration: none;
}

.global-nav .nav-item.active a, .global-nav .nav-item a:hover {
    background-color: #D03C56;
    color: #FFF;
}

/* follow */

.delete-follow{
    background-color: red;
}

.delete-follow:hover{
    background-color: crimson;
}

/* timeline */
.timeline{
    border-left:1px solid lavender;
    border-right:1px solid lavender;
    padding-left: 0;
    overflow: hidden;
}

.timeline-body{
    border-top: 1px solid lavender;
    list-style: none;
}

.timeline-link{
    display: block;
    padding: 5%;
    color: inherit;
    text-decoration: none;
    word-wrap:break-word; 
}

.timeline-link:hover{
    background-color: whitesmoke;
    color: inherit;
    text-decoration: none;
}

.timeline-header img{
    width: 10%;
    margin-right: 10px;
}

.timeline-header{
    text-decoration: none;
    color: inherit;
}

/* home header */

.header-icon-container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.name{
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
}

img{
    max-width: 100%;
}

/* fv */
.timeline-icon{
    display: block;
    padding: 5% 5% 10% 5%;
    color: inherit;
    text-decoration: none;
    word-wrap:break-word; 
}

/* clear-fix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

